@model AW_UniversityManagementMvcApp.Models.Entity_Models.Department

@{
    ViewBag.Title = "Save Department";
}
<style>
    .field-validation-error {
        color: red;
        font-style: italic;
    }
</style>

<h2>Save Department</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Code, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Code)
                @Html.ValidationMessageFor(model => model.Code)
                

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
} @if (ViewBag.Message != null)
{
    <label class="label-success">@ViewBag.Message</label>
}

<div>
    @Html.ActionLink("Back to List", "ViewAllDepartments")
</div>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
